{% include "partials/header.html.twig" %}
 
        <main role="main" id="main">
              <!-- Single article -->
              <div class="article">
                  <div class="image">
                      <figure>
                          <img src="{{ article.image }}" alt="A generic placeholder image in a figure.">
                          <figcaption class="figure-caption">
                              <h6>{{ article.category.title }} by {{ article.user.username }}</h6>
                          </figcaption>
                      </figure>
                  </div>
                  <div class="content">
                      <h1>{{ article.title }}</h1>
                      <p>{{ article.content }} </p>
                      <!-- filter twig -->
                      <p>Created at {{ article.createdAt | date('d/m/Y') }} {{ article.createdAt | date('H:i') }} </p>
                  </div>

                  <!-- Comments of this article -->
                  <div class="list-comments">
                      <fieldset class="border p-2">
                          <legend  class="w-auto">Comments({{ article.comments|length }})</legend>
                            {% for comment in article.comments %}
                                <p>{{ comment.author }} <small class="text-muted">{{ comment.createdAt | date('d/m/Y')}} at {{ comment.createdAt | date('H:i') }} </small> : {{ comment.content | raw }}</p>
                            {% else %}
                                <p><em>No comments yet</em></p>
                            {% endfor %}
                      </fieldset>
                  </div>

                  <!-- Add comments to this article -->
                  
                    {% if app.user %}
                      <div class="comment">
                        {{form(form_comment)}}
                      </div>
                    {% else %}
                      <div class="comment">
                        <p><strong><em>You must authenticate to comment</em></strong></p>
                      </div>
                    {% endif %}
                  
              </div>
        </main>

{% include "partials/footer.html.twig" %}
