{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="../assets/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block body %}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <!-- All articles -->
            {% for article in articles %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                {{ article.title }}    
                            </div>
                        <img class="card-img-top" src="{{ article.image }}" alt="A generic placeholder image in a figure.">
                        <div class="card-body">
                            <p class="card-text">{{ article.content }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>
                                    {% if app.user %}
                                        <a class="btn btn-secondary my-2" href="{{ path('blog_article_page', {'id': article.id}) }}" 
                                        role="button">View &raquo;</a>
                                        <a class="btn btn-danger my-2" href="{{ path('blog_article_page', {'id': article.id}) }}" 
                                        role="button">
                                            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    {% else %}
                                        <a class="btn btn-secondary my-2" href="{{ path('blog_article_page', {'id': article.id}) }}" 
                                        role="button">View &raquo;</a>
                                    {% endif %}
                                </p>
                                <small class="text-muted">{{ article.createdAt | date('d/m/Y') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
